<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credit Score Classification</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% comment %} jinja 2 loop is good method to compress the code and look cleaner rather than using the all column with each different label and so on {% endcomment %}
    <h1>Credit Score Classification</h1>
    <form action="/predict" method="POST">
        {% for col in [
            'Age', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
            'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Delay_from_due_date',
            'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries',
            'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age',
            'Total_EMI_per_month', 'Amount_invested_monthly', 'Monthly_Balance',
            'Credit_Score', 'Auto Loan', 'Credit-Builder Loan', 'Debt Consolidation Loan',
            'Home Equity Loan', 'Mortgage Loan', 'Not Specified', 'Payday Loan',
            'Personal Loan', 'Student Loan', 'Credit_Mix_Bad', 'Credit_Mix_Good',
            'Credit_Mix_Standard', 'Payment_of_Min_Amount_No', 'Payment_of_Min_Amount_Yes',
            'Payment_Behaviour_High_spent_Large_value_payments', 
            'Payment_Behaviour_High_spent_Medium_value_payments',
            'Payment_Behaviour_High_spent_Small_value_payments', 
            'Payment_Behaviour_Low_spent_Large_value_payments', 
            'Payment_Behaviour_Low_spent_Medium_value_payments', 
            'Payment_Behaviour_Low_spent_Small_value_payments',
            'Occupation_Encoded', 'Month_encoded'
        ] %}
            <label for="{{ col }}">{{ col }}</label><br>
            <input type="text" id="{{ col }}" name="{{ col }}" required><br><br>
        {% endfor %}
        <input type="submit" value="Classify Credit Score">
    </form>
</body>
</html>
